// - base color
$brand-primary ?= #06c
$brand-success ?= #57bc20
$brand-info ?= #5bc0de
$brand-warning ?= #ffa200
$brand-danger ?= #f25721

// - btn
$btn-default-color ?= #333
$btn-default-bg ?= #f7f7f7
$btn-default-border ?= #ddd

$btn-primary-color ?= #fff
$btn-primary-bg ?= #09c
$btn-primary-border ?= $btn-primary-bg

// - state and alert
$state-info-text ?= #555
$state-info-bg ?= #f9f9f9
$state-info-border ?= #ddd

$state-success-text ?= #090
$state-success-bg ?= #F2FFEA
$state-success-border ?= #C7DDB9

$state-warning-text ?= #f68300
$state-warning-bg ?= #FCF8E2
$state-warning-border ?= #FBECCB

$state-danger-text ?= #ee2117
$state-danger-bg ?= #FFF6F2
$state-danger-border ?= #F1ACAC
