.btn-default
  &:hover
    background-color: #fff
    border-color: $btn-default-border

.btn-primary
  &:hover
    background-color: #28b5d6
    border-color: #28b5d6

.btn-lg
  font-size: 14px
  padding: 12px 20px
  height: 40px
  line-height: 16px

.btn-sm
  font-size: 12px
  padding: 4px 12px
  height: 24px
  line-height: 14px

.btn-xs
  font-size: 12px
  padding: 2px 8px
  height: 20px
  line-height: 14px

.btn.disabled
.btn[disabled]
  text-shadow: none
  filter: none
  opacity: 1
  color: #bbb
  border: 1px solid #ddd
  background-color: #f7f7f7

.btn.btn-primary.disabled
.btn.btn-primary[disabled]
  color: #fff
  text-shadow: none
  filter: none
  opacity: 1
  border: 1px solid #ccc
  background-color: #ccc
