.btn-default
  &:hover
    background-color: #fff
    border-color: $btn-default-border

.btn-primary
  &:hover
    background-color: #28b5d6
    border-color: #28b5d6

.btn-lg
  font-size: 14px
  padding: 12px 20px
  height: 40px
  line-height: 16px
