// Core variables and mixins
@import '_variables'
@import 'bootstrap'

// Core CSS
@import "typo"
@import 'table'
@import 'form'
@import 'btn'

// Components
// - alert
.alert
  padding: 6px 12px
  line-height: 18px
  margin-bottom: 6px
  border-radius: 0

@import 'tab'
