.table
  margin-top: 8px
  font-size: 12px
  background: #ffffff
  border: 1px solid $table-border-color

  > thead > tr > th
    padding: 8px 8px
    font-weight: normal
    color: #999
    background-color: #f5f6fa
    border-bottom: 1px solid $table-border-color

  > tbody > tr > td
    padding: 12px 8px
    border-top: none
    border-bottom: 1px solid $table-border-color
    vertical-align: middle

    p
      margin-bottom: 0
  
  > tfoot > tr > td
    padding: 12px 8px
    border-bottom: 1px solid $table-border-color
    vertical-align: middle
